@{
    ViewData["Title"] = "Գրանցման հաստատում";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Շնորհակալություն</h2>
                    <p class="card-text">Օգտատերը հաստատվել է և հաստատման էլ. նամակն ուղարկվել է օգտատիրոջ կողմից նշված էլ․հասցեին:</p>
                    <a href="/" class="btn btn-primary mt-3">Վերադառնալ գլխավոր էջ</a>
                </div>
            </div>
        </div>
    </div>
</div>