<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautySalon.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <style>
        .navbar-brand, .navbar-nav .nav-link {
            font-weight: 600;
            color: #333 !important;
            transition: color 0.3s, transform 0.3s;
        }

        .navbar-brand {
            font-size: 24px;
            width: 120px;
            text-align: center;
        }

            .navbar-brand:hover, .navbar-nav .nav-link:hover {
                color: #818181 !important;
                transform: translateY(-2px);
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Clients" asp-action="index">Հաճախորդներ</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Appointments" asp-action="index">Գրանցումներ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Services" asp-action="index">Ծառայություններ</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="index">Օգտատերեր</a>
                            </li>
                        }
@*                         <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Գաղտնիություն</a>
                        </li> *@
                     </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var $navbarToggler = $('.navbar-toggler');
            var $navbarCollapse = $('.navbar-collapse');

            function toggleMenu() {
                var isExpanded = $navbarCollapse.hasClass('show');
                $navbarCollapse.collapse(isExpanded ? 'hide' : 'show');
                $navbarToggler.toggleClass('is-active');
                $navbarToggler.attr('aria-expanded', !isExpanded);
            }

            $navbarToggler.on('click', function (e) {
                e.preventDefault();
                toggleMenu();
            });

            // Սկզբնական վիճակի սահմանում
            $navbarToggler.removeClass('is-active');
            $navbarToggler.attr('aria-expanded', 'false');
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 