@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav login-partial">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-cog"></i> Կարգավորումներ
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn-logout">
                    <i class="fas fa-sign-out-alt"></i> Ելք
                </button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav login-partial">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus"></i> Գրանցում
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt"></i> Մուտք
            </a>
        </li>
    </ul>
}