@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Անձնական տվյալներ";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <div class="row justify-content-center my-4">
            <div class="col-md-8 manage-data-container">
                <h4 class="text-center mb-3">Անձնական տվյալներ</h4>
                <p>
                    <strong>Այս կոճակը կջնջի ձեր հաշիվը, որը հնարավոր չէ վերականգնել:</strong>
                </p>
                <p class="text-center mt-3">
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger btn-lg">Ջնջել</a>
                </p>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: #e9ecef;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .manage-data-container {
        background-color: #6c757d; /* Bootstrap secondary color */
        color: #ffffff; /* White text color */
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #5a6268; /* Slightly darker border */
    }

        .manage-data-container h4 {
            color: #e2e3e5; /* Lighter grey for the heading */
        }

        .manage-data-container .btn-danger {
            background-color: #dc3545; /* Danger button background */
            border-color: #dc3545; /* Danger button border */
        }

            .manage-data-container .btn-danger:hover {
                background-color: #c82333; /* Darker shade on hover */
                border-color: #bd2130; /* Darker border on hover */
            }
</style>
