@{
    ViewData["Title"] = "Գաղտնիություն";
}

<div class="privacy-section">

@*     <h2>Մենք հավաքում ենք տեղեկություններ</h2>

    <p>Այսինքն մենք կարող ենք հավաքել տարբեր տեսակի տեղեկություններ, երբ այցելում եք մեր կայք․</p> *@

</div>

<div class="privacy-section">

@*     <h2>Ինչպես ենք օգտագործում Ձեր տեղեկությունները</h2>

    <p>Մենք օգտագործում ենք հավաքած տեղեկությունները մեր ծառայությունները տրամադրելու, պահպանելու և բարելավելու համար․</p> *@

</div>

<div class="privacy-section">

@*     <h2>Երրորդ կողմի ծառայություններ</h2>

    <p>Մենք կարող ենք օգտագործել երրորդ կողմի ծառայություններ տարբեր նպատակներով, ինչպիսիք են վերլուծությունը, գովազդը և այլն...</p> *@

</div>


<style>
    .privacy-section {
        margin-bottom: 30px;
        padding: 20px;
    }

        .privacy-section:nth-child(odd) {
            background-color: #f2f2f2; /* Light gray background for odd sections */
        }

        .privacy-section:nth-child(even) {
            background-color: #eaeaea; /* Lighter gray background for even sections */
        }

        .privacy-section h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }
</style>
