@model BeautySalon.Models.Appointment

@{
    ViewData["Title"] = "Create";
    DateTime? date = ViewBag.Date as DateTime?;
    string time = ViewBag.Time as string;
}

<h1>Նոր Գրանցում</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" type="date" value="@date?.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="AppointmentHour" class="control-label"></label>
                <select asp-for="AppointmentHour" class="form-control" asp-items="ViewBag.HourOptions">
                    <option value="@time">@time</option>
                    <!-- Other options can be added here if necessary -->
                </select>
                <span asp-validation-for="AppointmentHour" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="ServiceId" class="control-label">Ծառայություն</label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId">
                    <option value="">Ընտրել Ծառայությունը</option>
                </select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Ժամանակ</label>
                <select asp-for="Duration" class="form-control">
                    <option value="30">30 րոպե</option>
                    <option value="60">1 ժամ</option>
                    <option value="90">1 ժամ 30 րոպե</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-userId="@ViewBag.UserId" asp-route-selectedDate="@date?.ToString("yyyy-MM-dd")">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}







