@model BeautySalon.Models.Appointment

@{
    ViewData["Title"] = "Delete";
    string returnUrl = ViewBag.ReturnUrl;
}

<div class="container text-center">
    <div class="card bg-light-grey text-dark p-4 mt-5" style="max-width: 600px; margin: 0 auto;">
        <h3 class="mb-4">Իսկապես անհրաժեշտ է ջնջել հետևյալ նշանակումը?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Անուն</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>
            <dt class="col-sm-4">Հեռախոսահամար</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt class="col-sm-4">Ժամ</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.AppointmentHour)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl" value="@returnUrl" />
            <button type="submit" class="btn btn-danger btn-lg mt-3">Ջնջել</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #f2f2f2; /* Light grey background for the entire page */
        color: #333333; /* Dark text color for all text */
    }

    .card {
        border-radius: 10px; /* Rounded corners for the card */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for the card */
    }

    .bg-light-grey {
        background-color: #cccccc; /* Light grey background for the card */
    }

    .btn-danger {
        background-color: #dc3545; /* Red background for delete button */
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333; /* Darker red on hover */
            border-color: #bd2130;
        }
</style>




