@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Խնդրում ենք ստուգել ձեր Էլ․ փոստը գաղտնաբառը վերականգնելու համար․</h1>
@* <p>
    Խնդրում ենք ստուգել ձեր Էլ․ փոստը գաղտնաբառը վերականգնելու համար․
</p> *@
