@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Գաղտնաբառի վերականգնման հաստատում</h1>
<p>
    Ձեր Գաղտնաբառը հաջողությամբ վերականգնվեց. Խնդրում ենք <a asp-page="./Login">Սեղմել այստեղ Մուտքի համար</a>.
</p>
