@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    position: relative;
    min-height: auto;
    font-family: Arial, sans-serif;
}

header nav {
    background-image: url('/images/OIPPP.jpeg');
    background-color: #f0f0f0;
    border-radius: 10px;
    border: none;
}


body {
    background-image: url('/images/LightGrey.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
    margin-bottom: 100px;
    padding: 20px;
}


 Below is the code for scrollbar!!! 



 width 
::-webkit-scrollbar {
    width: 10px;
}

 Track 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 Handle 
::-webkit-scrollbar-thumb {
    background: #888;
}

     Handle on hover 
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }