/* General Styles */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('/images/BlackWall.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 100px;
    padding: 20px;
    padding-top: 85px;
}

/* Navbar Styles */
.navbar {
    padding: 0 35px;
    height: 75px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-brand, .sidebar-brand {
    margin-right: 0;
    padding: 0;
    color: #fff !important;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    body:not(.user-authenticated) .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

    .navbar-brand:hover, .sidebar-brand:hover {
        color: #808080 !important;
    }

        .navbar-brand:hover .arrow-icon, .sidebar-brand:hover .arrow-icon {
            color: #808080;
        }

.fixed-top-custom {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand, .navbar-toggler {
    position: relative;
    top: 20px;
}
.navbar-brand {
    margin-right: 0;
    padding: 0;
    color: #fff !important;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

    .navbar-brand:hover {
        color: #808080 !important;
    }
        .navbar-brand:hover .arrow-icon {
            color: #808080;
        }

.arrow-icon {
    margin-left: 4px;
    color: yellow;
    transition: color 0.3s ease;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler .icon-bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 5px;
        transition: .25s ease-in-out;
    }

    .navbar-toggler:hover .icon-bar {
        background-color: #808080;
    }

    .navbar-toggler .icon-bar:nth-child(1) {
        top: 10px;
    }

    .navbar-toggler .icon-bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-toggler .icon-bar:nth-child(3) {
        bottom: 10px;
    }

    .navbar-toggler.is-active .icon-bar:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .navbar-toggler.is-active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.is-active .icon-bar:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
}

    .sidebar.active {
        width: 300px;
    }

.sidebar-brand {
    padding: 20px 0;
    justify-content: center;
    font-size: 24px;
    border-bottom: 1px solid #333;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
}

    .sidebar-content .nav-link {
        display: flex;
        align-items: center;
    }

        .sidebar-content .nav-link i {
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }

.sidebar .nav-link {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
}

    .sidebar .nav-link:hover {
        color: #d3d3d3;
        background-color: #333;
    }

.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    z-index: 1050;
}

/* User Greeting Styles */
.sidebar .user-greeting {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

/* LoginPartial Styles */
.sidebar .login-partial {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #333;
}

    .sidebar .login-partial .nav-item {
        width: 100%;
    }

    .sidebar .login-partial .nav-link,
    .sidebar .login-partial .btn-logout {
        color: #fff;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        background: none;
        border: none;
        font-size: 16px;
    }

        .sidebar .login-partial .nav-link:hover,
        .sidebar .login-partial .btn-logout:hover {
            background-color: #333;
        }

/* Content Wrapper */
.content-wrapper {
    transition: margin-left .5s;
}

body.sidebar-active .content-wrapper {
    margin-left: 300px;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1035;
}

    .overlay.active {
        display: block;
    }

/* Media Queries */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 95px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .sidebar {
        padding-top: 95px;
        width: 0;
    }

        .sidebar.active {
            width: 100%;
        }

        .sidebar .nav-link {
            font-size: 16px;
        }

    body.sidebar-active .content-wrapper {
        margin-left: 0;
    }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }